<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                IVA devengado
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead class="text-center">
                    <tr>
                        <th></th>
                        <th>Base imponible</th>
                        <th></th>
                        <th>Tipo %</th>
                        <th></th>
                        <th>Cuota</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center">150</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['150'] is empty ? '' : number(fsc.modelo303['150'], 2) }}</strong></td>
                        <td class="text-center">151</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['151'] is empty ? '' : number(fsc.modelo303['151'], 2) }}</strong></td>
                        <td class="text-center">152</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['152'] is empty ? '' : number(fsc.modelo303['152'], 2) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center">165</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['165'] is empty ? '' : number(fsc.modelo303['165'], 2) }}</strong></td>
                        <td class="text-center">166</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['166'] is empty ? '' : number(fsc.modelo303['166'], 2) }}</strong></td>
                        <td class="text-center">167</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['167'] is empty ? '' : number(fsc.modelo303['167'], 2) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center">01</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['01'] is empty ? '' : number(fsc.modelo303['01'], 2) }}</strong>
                        </td>
                        <td class="text-center">02</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['02'] is empty ? '' : number(fsc.modelo303['02'], 2) }}</strong></td>
                        <td class="text-center">03</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['03'] is empty ? '' : number(fsc.modelo303['03'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">153</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['153'] is empty ? '' : number(fsc.modelo303['153'], 2) }}</strong></td>
                        <td class="text-center">154</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['154'] is empty ? '' : number(fsc.modelo303['154'], 2) }}</strong></td>
                        <td class="text-center">155</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['155'] is empty ? '' : number(fsc.modelo303['155'], 2) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center">04</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['04'] is empty ? '' : number(fsc.modelo303['04'], 2) }}</strong>
                        </td>
                        <td class="text-center">05</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['05'] is empty ? '' : number(fsc.modelo303['05'], 2) }}</strong></td>
                        <td class="text-center">06</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['06'] is empty ? '' : number(fsc.modelo303['06'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">07</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['07'] is empty ? '' : number(fsc.modelo303['07'], 2) }}</strong>
                        </td>
                        <td class="text-center">08</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['08'] is empty ? '' : number(fsc.modelo303['08'], 2) }}</strong></td>
                        <td class="text-center">09</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['09'] is empty ? '' : number(fsc.modelo303['09'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">10</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['10'] is empty ? '' : number(fsc.modelo303['10'], 2) }}</strong>
                        </td>
                        <td colspan="2" class="bg-secondary"></td>
                        <td class="text-center">11</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['11'] is empty ? '' : number(fsc.modelo303['11'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">12</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['12'] is empty ? '' : number(fsc.modelo303['12'], 2) }}</strong>
                        </td>
                        <td colspan="2" class="bg-secondary"></td>
                        <td class="text-center">13</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['13'] is empty ? '' : number(fsc.modelo303['13'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">14</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['14'] is empty ? '' : number(fsc.modelo303['14'], 2) }}</strong>
                        </td>
                        <td colspan="2" class="bg-secondary"></td>
                        <td class="text-center">15</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['15'] is empty ? '' : number(fsc.modelo303['15'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">156</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['156'] is empty ? '' : number(fsc.modelo303['156'], 2) }}</strong></td>
                        <td class="text-center">157</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['157'] is empty ? '' : number(fsc.modelo303['157'], 2) }}</strong></td>
                        <td class="text-center">158</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['158'] is empty ? '' : number(fsc.modelo303['158'], 2) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center">168</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['168'] is empty ? '' : number(fsc.modelo303['168'], 2) }}</strong></td>
                        <td class="text-center">169</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['169'] is empty ? '' : number(fsc.modelo303['169'], 2) }}</strong></td>
                        <td class="text-center">170</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['170'] is empty ? '' : number(fsc.modelo303['170'], 2) }}</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center">16</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['16'] is empty ? '' : number(fsc.modelo303['16'], 2) }}</strong>
                        </td>
                        <td class="text-center">17</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['17'] is empty ? '' : number(fsc.modelo303['17'], 2) }}</strong></td>
                        <td class="text-center">18</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['18'] is empty ? '' : number(fsc.modelo303['18'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">19</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['19'] is empty ? '' : number(fsc.modelo303['19'], 2) }}</strong>
                        </td>
                        <td class="text-center">20</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['20'] is empty ? '' : number(fsc.modelo303['20'], 2) }}</strong></td>
                        <td class="text-center">21</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['21'] is empty ? '' : number(fsc.modelo303['21'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">22</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['22'] is empty ? '' : number(fsc.modelo303['22'], 2) }}</strong>
                        </td>
                        <td class="text-center">23</td>
                        <td class="text-center">
                            <strong>{{ fsc.modelo303['23'] is empty ? '' : number(fsc.modelo303['23'], 2) }}</strong></td>
                        <td class="text-center">24</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['24'] is empty ? '' : number(fsc.modelo303['24'], 2) }}</strong>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">25</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['25'] is empty ? '' : number(fsc.modelo303['25'], 2) }}</strong>
                        </td>
                        <td colspan="2" class="bg-secondary"></td>
                        <td class="text-center">26</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['26'] is empty ? '' : number(fsc.modelo303['26'], 2) }}</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>

                Total cuota devengada (152 + 167 + 03 + 155 + 06 + 09 + 11 + 13 + 15 + 158 + 170 + 18 + 21 + 24 + 26)
                ........
                <strong>{{ fsc.modelo303['27'] is empty ? '' : number(fsc.modelo303['27'], 2) }}</strong>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                IVA deducible
            </div>
            <div class="card-body">
                <table class="table table-bordered table-sm">
                    <thead class="text-center">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Base</th>
                        <th></th>
                        <th>Cuota</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Por cuotas soportadas en operaciones interiores corrientes</td>
                        <td class="text-center">28</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['28'] is empty ? '' : number(fsc.modelo303['28'], 2) }}</strong>
                        </td>
                        <td class="text-center">29</td>
                        <td class="text-end">
                            <strong>{{ fsc.modelo303['29'] is empty ? '' : number(fsc.modelo303['29'], 2) }}</strong>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
