{% set modelo303 = fsc.modelo303.toArray() %}
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                {{ trans('vat-accrued') }}
            </div>
            <table class="table table-bordered table-sm">
                <thead class="text-center">
                <tr>
                    <th></th>
                    <th>{{ trans('tax-base') }}</th>
                    <th></th>
                    <th>{{ trans('type') }} %</th>
                    <th></th>
                    <th>{{ trans('quota') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">150</td>
                    <td class="text-end">
                        <strong>{{ modelo303['150'] }}</strong></td>
                    <td class="text-center">151</td>
                    <td class="text-center">
                        <strong>{{ modelo303['151'] }}</strong></td>
                    <td class="text-center">152</td>
                    <td class="text-end">
                        <strong>{{ modelo303['152'] }}</strong></td>
                </tr>
                <tr>
                    <td class="text-center">165</td>
                    <td class="text-end">
                        <strong>{{ modelo303['165'] }}</strong></td>
                    <td class="text-center">166</td>
                    <td class="text-center">
                        <strong>{{ modelo303['166'] }}</strong></td>
                    <td class="text-center">167</td>
                    <td class="text-end">
                        <strong>{{ modelo303['167'] }}</strong></td>
                </tr>
                <tr>
                    <td class="text-center">01</td>
                    <td class="text-end">
                        <strong>{{ modelo303['01'] }}</strong>
                    </td>
                    <td class="text-center">02</td>
                    <td class="text-center">
                        <strong>{{ modelo303['02'] }}</strong></td>
                    <td class="text-center">03</td>
                    <td class="text-end">
                        <strong>{{ modelo303['03'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">153</td>
                    <td class="text-end">
                        <strong>{{ modelo303['153'] }}</strong></td>
                    <td class="text-center">154</td>
                    <td class="text-center">
                        <strong>{{ modelo303['154'] }}</strong></td>
                    <td class="text-center">155</td>
                    <td class="text-end">
                        <strong>{{ modelo303['155'] }}</strong></td>
                </tr>
                <tr>
                    <td class="text-center">04</td>
                    <td class="text-end">
                        <strong>{{ modelo303['04'] }}</strong>
                    </td>
                    <td class="text-center">05</td>
                    <td class="text-center">
                        <strong>{{ modelo303['05'] }}</strong></td>
                    <td class="text-center">06</td>
                    <td class="text-end">
                        <strong>{{ modelo303['06'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">07</td>
                    <td class="text-end">
                        <strong>{{ modelo303['07'] }}</strong>
                    </td>
                    <td class="text-center">08</td>
                    <td class="text-center">
                        <strong>{{ modelo303['08'] }}</strong></td>
                    <td class="text-center">09</td>
                    <td class="text-end">
                        <strong>{{ modelo303['09'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">10</td>
                    <td class="text-end">
                        <strong>{{ modelo303['10'] }}</strong>
                    </td>
                    <td colspan="2" class="bg-secondary"></td>
                    <td class="text-center">11</td>
                    <td class="text-end">
                        <strong>{{ modelo303['11'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">12</td>
                    <td class="text-end">
                        <strong>{{ modelo303['12'] }}</strong>
                    </td>
                    <td colspan="2" class="bg-secondary"></td>
                    <td class="text-center">13</td>
                    <td class="text-end">
                        <strong>{{ modelo303['13'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">14</td>
                    <td class="text-end">
                        <strong>{{ modelo303['14'] }}</strong>
                    </td>
                    <td colspan="2" class="bg-secondary"></td>
                    <td class="text-center">15</td>
                    <td class="text-end">
                        <strong>{{ modelo303['15'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">156</td>
                    <td class="text-end">
                        <strong>{{ modelo303['156'] }}</strong></td>
                    <td class="text-center">157</td>
                    <td class="text-center">
                        <strong>{{ modelo303['157'] }}</strong></td>
                    <td class="text-center">158</td>
                    <td class="text-end">
                        <strong>{{ modelo303['158'] }}</strong></td>
                </tr>
                <tr>
                    <td class="text-center">168</td>
                    <td class="text-end">
                        <strong>{{ modelo303['168'] }}</strong></td>
                    <td class="text-center">169</td>
                    <td class="text-center">
                        <strong>{{ modelo303['169'] }}</strong></td>
                    <td class="text-center">170</td>
                    <td class="text-end">
                        <strong>{{ modelo303['170'] }}</strong></td>
                </tr>
                <tr>
                    <td class="text-center">16</td>
                    <td class="text-end">
                        <strong>{{ modelo303['16'] }}</strong>
                    </td>
                    <td class="text-center">17</td>
                    <td class="text-center">
                        <strong>{{ modelo303['17'] }}</strong></td>
                    <td class="text-center">18</td>
                    <td class="text-end">
                        <strong>{{ modelo303['18'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">19</td>
                    <td class="text-end">
                        <strong>{{ modelo303['19'] }}</strong>
                    </td>
                    <td class="text-center">20</td>
                    <td class="text-center">
                        <strong>{{ modelo303['20'] }}</strong></td>
                    <td class="text-center">21</td>
                    <td class="text-end">
                        <strong>{{ modelo303['21'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">22</td>
                    <td class="text-end">
                        <strong>{{ modelo303['22'] }}</strong>
                    </td>
                    <td class="text-center">23</td>
                    <td class="text-center">
                        <strong>{{ modelo303['23'] }}</strong></td>
                    <td class="text-center">24</td>
                    <td class="text-end">
                        <strong>{{ modelo303['24'] }}</strong>
                    </td>
                </tr>
                <tr>
                    <td class="text-center">25</td>
                    <td class="text-end">
                        <strong>{{ modelo303['25'] }}</strong>
                    </td>
                    <td colspan="2" class="bg-secondary"></td>
                    <td class="text-center">26</td>
                    <td class="text-end">
                        <strong>{{ modelo303['26'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-sm mb-0">
                <tbody>
                <tr>
                    <td>{{ trans('total-accrued-fee') }}</td>
                    <td class="text-center">27</td>
                    <td class="text-end">
                        <strong>{{ modelo303['27'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-header">
                {{ trans('deductible-vat') }}
            </div>
            <table class="table table-bordered table-sm">
                <thead class="text-center">
                <tr>
                    <th></th>
                    <th></th>
                    <th>{{ trans('base') }}</th>
                    <th></th>
                    <th>{{ trans('quota') }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ trans('deductible-vat-28') }}</td>
                    <td class="text-center">28</td>
                    <td class="text-end">
                        <strong>{{ modelo303['28'] }}</strong>
                    </td>
                    <td class="text-center">29</td>
                    <td class="text-end">
                        <strong>{{ modelo303['29'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-sm mb-0">
                <tbody>
                <tr>
                    <td>{{ trans('total-to-deduct') }}</td>
                    <td class="text-center">45</td>
                    <td class="text-end">
                        <strong>{{ modelo303['45'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card">
            <div class="card-header">
                {{ trans('general-regime-result') }}
            </div>
            <table class="table table-bordered table-sm mb-0">
                <tbody>
                <tr>
                    <td>{{ trans('total-result-of-the-general-regime') }}</td>
                    <td class="text-center">46</td>
                    <td class="text-end">
                        <strong>{{ modelo303['46'] }}</strong>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>